body {
	background-color: #c8c8c8;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.card-title {
  margin-bottom: 0;
}

.card-footer {
	background-color: white;
	border-top: white;
}
  